/* .navbar {
  background-color: blue;
}
.base-1 {
  background-color: hotpink;
}
.base-3 {
  background-color: olive;
}
.base-2 {
  background-color: lightblue;
}
.base-1t {
  background-color: navy;
} */
/* .base-modal {
  background-color: pink;
} */
.story-box {
  height: 25vw;
  overflow-x: scroll;
  overflow-y: scroll;
}
.post-img {
  object-fit: cover;
  width: 500px;
  height: 500px;
}
.post-img-profile {
  object-fit: cover;
  width: 450px;
  height: 450px;
  margin-top: 10px;
}

.about-box {
  max-height: 150px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.comment-box {
  max-height: 350px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.comment-box-no-about {
  height: 450px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.scrollable {
  height: 200px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.post-img-modal {
  object-fit: cover;
  width: 600px;
  height: 600px;
}

.post-img-expanded {
  object-fit: cover;
  width: 600px;
  height: 600px;
}

.modal-align {
  margin: auto;
  padding-top: 10%;
  padding-left: 20%;
}

.message-container {
  min-width: 30vw;
  max-height: 500px;
  overflow: scroll;
}
.message-main-container {
  min-width: 40vw;
  height: 700px;
}
