/* .navbar {
  background-color: blue;
}
.base-1 {
  background-color: hotpink;
}
.base-3 {
  background-color: olive;
}
.base-2 {
  background-color: lightblue;
}
.base-1t {
  background-color: navy;
} */
/* .base-modal {
  background-color: pink;
} */

/*navbar*/
.caret-off::before {
  display: none;
}
.caret-off::after {
  display: none;
}

/* homepage css*/
.story-box {
  height: 25vw;
  overflow-x: scroll;
  overflow-y: scroll;
}
.post-img {
  object-fit: cover;
  width: 750px;
  height: 600px;
  overflow: auto;
}
.about-box {
  max-height: 150px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.comment-box {
  max-height: 350px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.comment-box-no-about {
  height: 450px;
  overflow-x: scroll;
  overflow-y: scroll;
}

/*explore css*/
.people-scroller {
  overflow: auto;
  padding-bottom: 10px;
}
.people-card {
  height: auto;
  width: 200px;
  margin-left: 50px;
  padding: 10px;
}
/* messages css */
.message-main-container {
  min-width: 40vw;
  height: 700px;
}
.message-container {
  min-width: 30vw;
  max-height: 500px;
  overflow: scroll;
}

/* profile css*/
.scrollable {
  height: 200px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.post-img-profile {
  object-fit: cover;
  width: 450px;
  height: 450px;
  margin-top: 10px;
}
.post-img-modal {
  object-fit: cover;
  width: 600px;
  height: 600px;
}

.post-img-expanded {
  object-fit: cover;
  width: 600px;
  height: 600px;
}

.modal-align {
  margin-left: 10%;
  margin-top: 5%;
}

.message-container {
  min-width: 30vw;
  max-height: 500px;
  overflow: scroll;
}
.message-main-container {
  min-width: 40vw;
  height: 700px;
}
